In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [61]:
from analysis import DataBase
data = DataBase('equipsy.ABETdb')

-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `tbl_Schedules`
 (
	`SID`			int not null auto_increment unique,
	`SName`			varchar (100),
	`SEnviro`			varchar (50),
	`SMachineName`			varchar (30),
	`SVersion`			varchar (10),
	`SRunDate`			datetime,
	`SFinal`			boolean NOT NULL,
	`ZE_GUID`			varchar (50),
	`ZS_GUID`			varchar (50),
	`SRecCount`			int
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Schedules` ADD PRIMARY KEY (`SID`);

CREATE TABLE `tbl_Schedule_Notes`
 (
	`SID`			int,
	`NName`			varchar (100),
	`NValue`			text
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Data`
 (
	`SID`			int,
	`DTime`			float,
	`DAuto`			int,
	`DEvent`			int,
	`DEventText`			varchar (100),
	`DEffectText`			varchar (100),
	`DAltText`			varchar (100),
	`DGroup`			int,
	`DArgCount`			int,
	`DText1`			varchar (100),
	`DValue1`			float,
	`DText2`			varchar (100),
	`DValue2`			float,
	`DText3`			varchar (100),
	`DValue3`			float,
	`DText4`			varchar (100),
	`DValue4`			float,
	`DText5`			varchar (100),
	`DValue5`			float
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Version`
 (
	`BuildNum`			varchar (100),
	`CompactDate`			datetime
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Zip_Schedule`
 (
	`ZS_GUID`			varchar (50),
	`ZS_Name`			varchar (100),
	`ZS_Version`			varchar (50),
	`ZS_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Schedule` ADD PRIMARY KEY (`ZS_GUID`);

CREATE TABLE `tbl_Zip_Environment`
 (
	`ZE_GUID`			varchar (50),
	`ZE_Name`			varchar (100),
	`ZE_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Environment` ADD PRIMARY KEY (`ZE_GUID`);


-- CREATE Relationships ...
-- relationships are not implemented for mysql

No MSysRelationships

tbl_Schedules <_io.StringIO object at 0x7ff0f2416e60>
tbl_Schedule_Notes <_io.StringIO object at 0x7ff0f0bfb1c0>
tbl_Data <_io.StringIO object at 0x7ff0f0bfa950>
tbl_Version <_io.StringIO object at 0x7ff0f0bfab90>
tbl_Zip_Schedule <_io.StringIO object at 0x7ff0f0bf9a20>
tbl_Zip_Environment <_io.StringIO object at 0x7ff0f0bfa950>

In [68]:
data.experiments[0].data

,SID,DTime,DAuto,DEvent,DEventText,DEffectText,DAltText,DGroup,DArgCount,DText1,DValue1,DText2,DValue2,DText3,DValue3,DText4,DValue4,DText5,DValue5
0,1,0.0,0,28,Input Definition,(SYSTEM),NaN,0,5,Auxiliary_IN #1,8.000,Auxiliary_IN #2,9,Auxiliary_IN #3,10,Tray #1,0,BIRBeam #1,1
1,1,0.0,1,28,Input Definition,(SYSTEM),NaN,0,5,FIRBeam #1,2.000,RightFIRBeam #1,3,FeederStatus #1,4,Terminal_Block_IN #6,5,Terminal_Block_IN #7,6
2,1,0.0,2,28,Input Definition,(SYSTEM),NaN,0,1,Terminal_Block_IN #8,7.000,NaN,0,NaN,0,NaN,0,NaN,0
3,1,0.0,3,27,Output Definition,(SYSTEM),NaN,0,5,Auxiliary Enable,18.000,Auxiliary_OUT #1,10,Auxiliary_OUT #2,11,Auxiliary_OUT #3,12,Auxiliary_OUT #4,13
4,1,0.0,4,27,Output Definition,(SYSTEM),NaN,0,5,Auxiliary_OUT #5,14.000,Auxiliary_OUT #6,15,Auxiliary_OUT #7,16,Auxiliary_OUT #8,17,HouseLight #2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2141,1,1800.0,2141,1,Condition Event,End of schedule,NaN,5,0,NaN,0.000,NaN,0,NaN,0,NaN,0,NaN,0
2142,1,1800.0,2142,61,Group Maintain Event,Group Change,NaN,5,1,New Group,5.000,NaN,0,NaN,0,NaN,0,NaN,0
2143,1,1800.0,2143,29,Timer Event,_Schedule_Timer,NaN,5,1,Value,1800.001,NaN,0,NaN,0,NaN,0,NaN,0
2144,1,1800.0,2144,29,Timer Event,_Schedule_Timer,NaN,5,1,Value,1800.000,NaN,0,NaN,0,NaN,0,NaN,0
2145,1,1800.0,2145,9999,Schedule Shutdown Event,(SYSTEM),NaN,5,0,NaN,0.000,NaN,0,NaN,0,NaN,0,NaN,0

In [52]:

import numpy as np
np.unique(data.experiments[0].data['DEffectText'].values)

array(['(SYSTEM)', 'BIRBeam #1', 'Background',
       'Bussey Rat Operant Mode 3 x 1 x high (Portrait)',
       'End of schedule', 'FIRBeam #1', 'Group Change',
       'Reward Beam Break 1', 'Reward beam release 1', 'Reward_2_Screen',
       'Reward_First', 'Screen Beam Break 1', 'Screen Touches Left 1',
       'Screen beam release 1', 'Screen_2_Reward', 'Screen_Centre',
       'Screen_First', 'Screen_beam', 'Screen_left', 'Screen_right',
       'Set Blank Images', 'Tray #1', '_Schedule_Timer', '_Trial_Counter',
       'reward_beam', 'reward_to_screen', 'screen_to_reward'],
      dtype=object)

In [60]:
df = data.experiments[0].data
set(df[df['DEventText'] == 'Input Transition On Event']['DEffectText'])

{'BIRBeam #1', 'FIRBeam #1', 'Tray #1'}

In [56]:
#extract_experiments(data):
all_sid = data.data['tbl_Schedules']['SID'].values
all_dates = data.data['tbl_Schedules']['SRunDate'].values
all_dates = [datetime.datetime.strptime(i, '%m/%d/%y %H:%M:%S') for i in all_dates]
all_chambers = data.data['tbl_Schedules']['SEnviro'].values

sub_data = data.data['tbl_Schedule_Notes']
animals = sub_data[sub_data['NName'] == 'Animal ID']
all_animals = animals['NValue'].values

In [63]:
data.data['tbl_Schedules'].loc[data.data['tbl_Schedules']['SID'] == 1, 'SEnviro']

0    Chamber 1 [Env. 17]
Name: SEnviro, dtype: object

In [81]:
def get_experiment(data, SID):
    return data[data['SID'] == SID]

def get_input_data(data, name='BIRBeam #1'):
    on_data = data[data['DEventText'] == 'Input Transition On Event']
    on_data = on_data[on_data['DEffectText'] == name]

    off_data = data[data['DEventText'] == 'Input Transition Off Event']
    off_data = off_data[off_data['DEffectText'] == name]

    return on_data['DTime'].values

In [71]:
r = data.data['tbl_Schedule_Notes']

In [72]:
r

     SID                 NName                          NValue
0      1     Max_Number_Trials                               0
1      1     Max_Schedule_Time                            1800
2      1  Schedule_Description  Initial habituation to the box
3      1             Animal ID                              E1
4      1                  User                          Pierre
..   ...                   ...                             ...
139   15              Group ID                             NaN
140   15                 Notes                             NaN
141   16              Database                         equipsy
142   16              Group ID                             NaN
143   16                 Notes                             NaN

[144 rows x 3 columns]

In [92]:
data.get_results_per_animal()

array([9])