In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [20]:
from analysis import download_data

In [21]:
download_data()

Connection successfully established ...
File successfully downloaded ...

In [79]:
data = DataBase('equipsy.ABETdb')

-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `tbl_Schedules`
 (
	`SID`			int not null auto_increment unique,
	`SName`			varchar (100),
	`SEnviro`			varchar (50),
	`SMachineName`			varchar (30),
	`SVersion`			varchar (10),
	`SRunDate`			datetime,
	`SFinal`			boolean NOT NULL,
	`ZE_GUID`			varchar (50),
	`ZS_GUID`			varchar (50),
	`SRecCount`			int
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Schedules` ADD PRIMARY KEY (`SID`);

CREATE TABLE `tbl_Schedule_Notes`
 (
	`SID`			int,
	`NName`			varchar (100),
	`NValue`			text
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Data`
 (
	`SID`			int,
	`DTime`			float,
	`DAuto`			int,
	`DEvent`			int,
	`DEventText`			varchar (100),
	`DEffectText`			varchar (100),
	`DAltText`			varchar (100),
	`DGroup`			int,
	`DArgCount`			int,
	`DText1`			varchar (100),
	`DValue1`			float,
	`DText2`			varchar (100),
	`DValue2`			float,
	`DText3`			varchar (100),
	`DValue3`			float,
	`DText4`			varchar (100),
	`DValue4`			float,
	`DText5`			varchar (100),
	`DValue5`			float
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Version`
 (
	`BuildNum`			varchar (100),
	`CompactDate`			datetime
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Zip_Schedule`
 (
	`ZS_GUID`			varchar (50),
	`ZS_Name`			varchar (100),
	`ZS_Version`			varchar (50),
	`ZS_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Schedule` ADD PRIMARY KEY (`ZS_GUID`);

CREATE TABLE `tbl_Zip_Environment`
 (
	`ZE_GUID`			varchar (50),
	`ZE_Name`			varchar (100),
	`ZE_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Environment` ADD PRIMARY KEY (`ZE_GUID`);


-- CREATE Relationships ...
-- relationships are not implemented for mysql

No MSysRelationships

tbl_Schedules <_io.StringIO object at 0x7f4234fadb80>
tbl_Schedule_Notes <_io.StringIO object at 0x7f422fc1e3a0>
tbl_Data <_io.StringIO object at 0x7f4232483b80>
tbl_Version <_io.StringIO object at 0x7f422fc1e4c0>
tbl_Zip_Schedule <_io.StringIO object at 0x7f422fc1e3a0>
tbl_Zip_Environment <_io.StringIO object at 0x7f422fc1e4c0>

In [80]:
data.all_animals()

array(['E1', 'E2', 'F1', 'F2', 'G1', 'G2', 'H1', 'H2', 'A1', 'A2', 'B1',
       'B2', 'C1', 'C2', 'D1', 'D2'], dtype=object)

In [86]:
res = mdb_to_pandas('equipsy.ABETdb')

-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `tbl_Schedules`
 (
	`SID`			int not null auto_increment unique,
	`SName`			varchar (100),
	`SEnviro`			varchar (50),
	`SMachineName`			varchar (30),
	`SVersion`			varchar (10),
	`SRunDate`			datetime,
	`SFinal`			boolean NOT NULL,
	`ZE_GUID`			varchar (50),
	`ZS_GUID`			varchar (50),
	`SRecCount`			int
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Schedules` ADD PRIMARY KEY (`SID`);

CREATE TABLE `tbl_Schedule_Notes`
 (
	`SID`			int,
	`NName`			varchar (100),
	`NValue`			text
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Data`
 (
	`SID`			int,
	`DTime`			float,
	`DAuto`			int,
	`DEvent`			int,
	`DEventText`			varchar (100),
	`DEffectText`			varchar (100),
	`DAltText`			varchar (100),
	`DGroup`			int,
	`DArgCount`			int,
	`DText1`			varchar (100),
	`DValue1`			float,
	`DText2`			varchar (100),
	`DValue2`			float,
	`DText3`			varchar (100),
	`DValue3`			float,
	`DText4`			varchar (100),
	`DValue4`			float,
	`DText5`			varchar (100),
	`DValue5`			float
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Version`
 (
	`BuildNum`			varchar (100),
	`CompactDate`			datetime
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Zip_Schedule`
 (
	`ZS_GUID`			varchar (50),
	`ZS_Name`			varchar (100),
	`ZS_Version`			varchar (50),
	`ZS_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Schedule` ADD PRIMARY KEY (`ZS_GUID`);

CREATE TABLE `tbl_Zip_Environment`
 (
	`ZE_GUID`			varchar (50),
	`ZE_Name`			varchar (100),
	`ZE_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Environment` ADD PRIMARY KEY (`ZE_GUID`);


-- CREATE Relationships ...
-- relationships are not implemented for mysql

No MSysRelationships

running table: tbl_Schedules
Dumping tbl_Schedules
tbl_Schedules <_io.StringIO object at 0x7f4234fad9d0>
running table: tbl_Schedule_Notes
Dumping tbl_Schedule_Notes
tbl_Schedule_Notes <_io.StringIO object at 0x7f422fc1eaf0>
running table: tbl_Data
Dumping tbl_Data
tbl_Data <_io.StringIO object at 0x7f4234a243a0>
running table: tbl_Version
Dumping tbl_Version
tbl_Version <_io.StringIO object at 0x7f422fc2d3a0>
running table: tbl_Zip_Schedule
Dumping tbl_Zip_Schedule
tbl_Zip_Schedule <_io.StringIO object at 0x7f422fc2d430>
running table: tbl_Zip_Environment
Dumping tbl_Zip_Environment
tbl_Zip_Environment <_io.StringIO object at 0x7f422fc2d3a0>

In [81]:
def get_experiment(data, SID):
    return data[data['SID'] == SID]

def get_input_data(data, name='BIRBeam #1'):
    on_data = data[data['DEventText'] == 'Input Transition On Event']
    on_data = on_data[on_data['DEffectText'] == name]

    off_data = data[data['DEventText'] == 'Input Transition Off Event']
    off_data = off_data[off_data['DEffectText'] == name]

    return on_data['DTime'].values

In [71]:
r = data.data['tbl_Schedule_Notes']

In [72]:
r

     SID                 NName                          NValue
0      1     Max_Number_Trials                               0
1      1     Max_Schedule_Time                            1800
2      1  Schedule_Description  Initial habituation to the box
3      1             Animal ID                              E1
4      1                  User                          Pierre
..   ...                   ...                             ...
139   15              Group ID                             NaN
140   15                 Notes                             NaN
141   16              Database                         equipsy
142   16              Group ID                             NaN
143   16                 Notes                             NaN

[144 rows x 3 columns]

In [92]:
data.get_results_per_animal()

array([9])