In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [72]:
from analysis import DataBase
data = DataBase('equipsy.ABETdb')

-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `tbl_Schedules`
 (
	`SID`			int not null auto_increment unique,
	`SName`			varchar (100),
	`SEnviro`			varchar (50),
	`SMachineName`			varchar (30),
	`SVersion`			varchar (10),
	`SRunDate`			datetime,
	`SFinal`			boolean NOT NULL,
	`ZE_GUID`			varchar (50),
	`ZS_GUID`			varchar (50),
	`SRecCount`			int
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Schedules` ADD PRIMARY KEY (`SID`);

CREATE TABLE `tbl_Schedule_Notes`
 (
	`SID`			int,
	`NName`			varchar (100),
	`NValue`			text
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Data`
 (
	`SID`			int,
	`DTime`			float,
	`DAuto`			int,
	`DEvent`			int,
	`DEventText`			varchar (100),
	`DEffectText`			varchar (100),
	`DAltText`			varchar (100),
	`DGroup`			int,
	`DArgCount`			int,
	`DText1`			varchar (100),
	`DValue1`			float,
	`DText2`			varchar (100),
	`DValue2`			float,
	`DText3`			varchar (100),
	`DValue3`			float,
	`DText4`			varchar (100),
	`DValue4`			float,
	`DText5`			varchar (100),
	`DValue5`			float
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Version`
 (
	`BuildNum`			varchar (100),
	`CompactDate`			datetime
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Zip_Schedule`
 (
	`ZS_GUID`			varchar (50),
	`ZS_Name`			varchar (100),
	`ZS_Version`			varchar (50),
	`ZS_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Schedule` ADD PRIMARY KEY (`ZS_GUID`);

CREATE TABLE `tbl_Zip_Environment`
 (
	`ZE_GUID`			varchar (50),
	`ZE_Name`			varchar (100),
	`ZE_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Environment` ADD PRIMARY KEY (`ZE_GUID`);


-- CREATE Relationships ...
-- relationships are not implemented for mysql

No MSysRelationships

tbl_Schedules <_io.StringIO object at 0x7ff0f78c8a60>
tbl_Schedule_Notes <_io.StringIO object at 0x7ff0f0bf9b40>
tbl_Data <_io.StringIO object at 0x7ff0f0bfad40>
tbl_Version <_io.StringIO object at 0x7ff0f0bfa950>
tbl_Zip_Schedule <_io.StringIO object at 0x7ff0f0bf9750>
tbl_Zip_Environment <_io.StringIO object at 0x7ff0f0bfad40>

In [73]:
data.experiments[0].inputs

{'BBeam': {'onsets': array([  10.72 ,   28.338,   29.206,   30.96 ,   49.064,   49.591,
           49.657,   51.311,   61.333,   91.769,   94.403,  111.968,
          151.524,  152.352,  154.443,  176.601,  178.187,  182.408,
          205.698,  248.376,  260.071,  275.459,  276.123,  276.682,
          277.411,  277.543,  278.369,  278.536,  279.625,  279.847,
          284.346,  284.554,  284.714,  285.64 ,  287.961,  299.127,
          318.847,  514.346,  515.248,  516.406,  516.77 ,  523.714,
          534.102,  556.82 ,  563.263,  579.661,  586.448,  588.364,
          591.237,  591.765,  639.269,  651.501,  651.705,  680.939,
          692.314,  712.233,  713.617,  717.576,  731.981,  736.217,
          766.556,  816.267,  822.853,  823.224,  849.251,  869.563,
          889.275,  893.766,  901.598,  905.044,  971.088, 1021.667,
         1038.892, 1042.76 , 1042.957, 1043.158, 1044.702, 1044.914,
         1045.144, 1045.37 , 1055.163, 1062.768, 1072.722, 1114.852,
         1136.428, 1136.861, 1136.96 , 1137.026, 1137.94 , 1138.144,
         1138.446, 1138.634, 1138.963, 1139.137, 1140.366, 1142.777,
         1148.891, 1151.701, 1151.972, 1152.163, 1152.389, 1152.532,
         1153.624, 1153.824, 1153.989, 1155.57 , 1155.841, 1158.219,
         1158.351, 1158.503, 1158.615, 1158.714, 1158.847, 1159.145,
         1160.597, 1160.835, 1160.9  , 1161.087, 1161.165, 1161.352,
         1161.428, 1165.795, 1172.706, 1174.492, 1174.858, 1175.052,
         1176.175, 1179.214, 1179.287, 1179.882, 1312.891, 1322.382,
         1356.929, 1384.941, 1385.272, 1401.21 , 1401.309, 1425.049,
         1425.678, 1430.312, 1434.317, 1434.779, 1452.469, 1456.137,
         1461.918, 1465.123, 1467.475, 1469.36 , 1476.767, 1479.812,
         1485.002, 1486.261, 1542.236, 1542.568, 1542.691, 1781.818,
         1783.204]),
  'offsets': array([   6.391,   12.739,   28.943,   30.761,   31.719,   49.26 ,
           49.621,   49.657,   51.535,   63.669,   93.623,   94.844,
          122.859,  152.055,  154.377,  160.098,  176.856,  182.287,
          192.905,  247.219,  260.017,  273.112,  275.659,  276.406,
          276.816,  277.5  ,  278.007,  278.502,  279.034,  279.727,
          280.951,  284.388,  284.621,  285.547,  287.856,  296.026,
          299.164,  511.237,  514.985,  515.442,  516.568,  521.1  ,
          524.038,  556.283,  562.607,  579.331,  579.934,  587.01 ,
          591.073,  591.696,  639.203,  639.334,  651.606,  679.976,
          689.899,  711.666,  712.564,  716.597,  718.414,  734.827,
          765.422,  802.351,  822.76 ,  823.087,  823.257,  849.349,
          888.846,  889.592,  893.807,  901.671,  950.387, 1019.308,
         1038.758, 1039.051, 1042.827, 1043.026, 1043.652, 1044.775,
         1045.046, 1045.177, 1054.902, 1062.764, 1063.987, 1114.753,
         1133.186, 1136.787, 1136.861, 1137.026, 1137.885, 1138.117,
         1138.336, 1138.513, 1138.81 , 1139.041, 1140.037, 1140.432,
         1148.83 , 1148.929, 1151.8  , 1152.037, 1152.332, 1152.423,
         1152.632, 1153.687, 1153.92 , 1154.585, 1155.675, 1158.208,
         1158.318, 1158.449, 1158.583, 1158.682, 1158.84 , 1159.105,
         1159.775, 1160.695, 1160.835, 1160.967, 1161.096, 1161.286,
         1161.363, 1161.515, 1172.366, 1173.224, 1174.825, 1174.989,
         1175.734, 1179.121, 1179.248, 1179.32 , 1312.627, 1313.024,
         1356.444, 1359.718, 1385.072, 1392.38 , 1401.243, 1401.333,
         1425.216, 1427.805, 1434.282, 1434.712, 1435.473, 1452.667,
         1461.42 , 1462.503, 1465.486, 1468.071, 1471.71 , 1476.902,
         1484.209, 1485.698, 1542.203, 1542.502, 1542.667, 1781.719,
         1783.039])},
 'FBeam': {'onsets': array([  14.458,   14.855,   15.255,   15.689,   27.159,   27.555,
           27.687,   27.984,   28.644,   28.797,   29.373,   34.93 ,
           35.358,   35.625,   35.724,   42.709,   43.633,   43.834,
           44.928,   49.031,   57.33 ,   66.26 ,   68.57 ,   71.326,
          100.296,  100.8  ,  112.042,  125.832,  133.023,  133.497,
          135.411,  141.653,  141.665,  151.491,  166.977,  168.763,
          175.177,  199.422,  274.597,  276.353,  277.147,  298.866,
          299.132,  302.141,  306.735,  515.773,  517.36 ,  517.786,
          518.292,  640.129,  642.348,  642.778,  643.904,  645.093,
          646.839,  719.894,  854.383,  854.649,  855.478,  897.171,
          898.5  ,  955.377, 1064.912, 1068.554, 1069.285, 1070.342,
         1313.253, 1381.633, 1403.623]),
  'offsets': array([  14.499,   15.127,   15.444,   26.198,   27.344,   27.654,
           27.873,   28.611,   28.731,   28.91 ,   29.405,   35.054,
           35.558,   35.658,   35.724,   43.571,   43.826,   43.87 ,
           46.772,   49.228,   57.595,   66.332,   69.607,   76.343,
          100.595,  111.106,  112.174,  125.864,  133.434,  133.5  ,
          140.167,  141.661,  143.772,  151.785,  167.374,  173.195,
          176.006,  201.176,  274.763,  277.01 ,  277.665,  299.066,
          301.379,  306.532,  309.049,  517.124,  517.727,  517.827,
          529.266,  640.46 ,  642.413,  643.83 ,  644.465,  645.191,
          648.167,  721.031,  854.483,  855.042,  861.304,  898.072,
          901.115,  965.799, 1068.511, 1068.85 , 1069.611, 1071.071,
         1318.548, 1383.437, 1416.69 ])},
 'Tray': {'onsets': array([ 113.225,  116.016,  117.568,  117.9  ,  118.66 ,  152.578,
          152.884,  320.6  ,  325.596,  536.32 ,  536.413,  536.517,
          536.617,  536.705,  544.313,  544.945,  653.024,  653.29 ,
          681.598,  684.639,  737.101,  748.894,  769.009,  769.207,
          778.236,  778.331,  778.465,  780.092,  780.786,  781.744,
          781.844,  783.563,  784.749,  786.243,  786.311,  792.564,
          792.663,  794.019,  796.137,  796.363,  796.665,  799.903,
          910.013,  940.14 ,  941.163,  941.397, 1025.265, 1073.409,
         1090.179, 1115.347, 1117.522, 1184.708, 1189.575, 1216.135,
         1231.483, 1249.69 , 1258.52 , 1260.019, 1280.619, 1280.89 ,
         1324.   , 1324.736, 1337.998, 1348.596, 1386.26 , 1553.847,
         1560.783, 1560.85 , 1561.325, 1567.541, 1571.11 , 1571.344,
         1571.542, 1571.939, 1572.816, 1580.794, 1586.263, 1586.926,
         1587.453, 1606.462, 1610.167, 1610.961, 1611.416, 1612.977,
         1614.297, 1614.33 , 1614.661, 1669.963, 1685.042]),
  'offsets': array([1.305000e+00, 1.136310e+02, 1.164680e+02, 1.176650e+02,
         1.179670e+02, 1.186900e+02, 1.526510e+02, 1.537450e+02,
         3.241390e+02, 3.260260e+02, 5.363860e+02, 5.364850e+02,
         5.365510e+02, 5.366830e+02, 5.393590e+02, 5.447470e+02,
         5.459720e+02, 6.530930e+02, 6.549110e+02, 6.832500e+02,
         6.850370e+02, 7.382930e+02, 7.501820e+02, 7.691090e+02,
         7.705300e+02, 7.783040e+02, 7.783960e+02, 7.795630e+02,
         7.807530e+02, 7.812090e+02, 7.817770e+02, 7.832950e+02,
         7.844880e+02, 7.851180e+02, 7.862780e+02, 7.912360e+02,
         7.926300e+02, 7.933570e+02, 7.958720e+02, 7.962020e+02,
         7.965980e+02, 7.997260e+02, 8.005890e+02, 9.112320e+02,
         9.404060e+02, 9.412970e+02, 9.421180e+02, 1.025883e+03,
         1.075226e+03, 1.092300e+03, 1.117035e+03, 1.120801e+03,
         1.186164e+03, 1.190953e+03, 1.218679e+03, 1.234988e+03,
         1.251479e+03, 1.259655e+03, 1.260504e+03, 1.280713e+03,
         1.283006e+03, 1.324174e+03, 1.325432e+03, 1.338129e+03,
         1.349157e+03, 1.386495e+03, 1.554437e+03, 1.560796e+03,
         1.561253e+03, 1.563836e+03, 1.568983e+03, 1.571178e+03,
         1.571373e+03, 1.571906e+03, 1.572267e+03, 1.580472e+03,
         1.581366e+03, 1.586528e+03, 1.587113e+03, 1.593656e+03,
         1.609105e+03, 1.610729e+03, 1.611081e+03, 1.612877e+03,
         1.614221e+03, 1.614297e+03, 1.614550e+03, 1.615222e+03,
         1.669991e+03, 1.687618e+03])}}

In [52]:

import numpy as np
np.unique(data.experiments[0].data['DEffectText'].values)

array(['(SYSTEM)', 'BIRBeam #1', 'Background',
       'Bussey Rat Operant Mode 3 x 1 x high (Portrait)',
       'End of schedule', 'FIRBeam #1', 'Group Change',
       'Reward Beam Break 1', 'Reward beam release 1', 'Reward_2_Screen',
       'Reward_First', 'Screen Beam Break 1', 'Screen Touches Left 1',
       'Screen beam release 1', 'Screen_2_Reward', 'Screen_Centre',
       'Screen_First', 'Screen_beam', 'Screen_left', 'Screen_right',
       'Set Blank Images', 'Tray #1', '_Schedule_Timer', '_Trial_Counter',
       'reward_beam', 'reward_to_screen', 'screen_to_reward'],
      dtype=object)

In [70]:
df = data.experiments[0].data
set(df[df['DEventText'] == 'Input Transition On Event']['DEffectText'])

{'BIRBeam #1', 'FIRBeam #1', 'Tray #1'}

In [56]:
#extract_experiments(data):
all_sid = data.data['tbl_Schedules']['SID'].values
all_dates = data.data['tbl_Schedules']['SRunDate'].values
all_dates = [datetime.datetime.strptime(i, '%m/%d/%y %H:%M:%S') for i in all_dates]
all_chambers = data.data['tbl_Schedules']['SEnviro'].values

sub_data = data.data['tbl_Schedule_Notes']
animals = sub_data[sub_data['NName'] == 'Animal ID']
all_animals = animals['NValue'].values

In [63]:
data.data['tbl_Schedules'].loc[data.data['tbl_Schedules']['SID'] == 1, 'SEnviro']

0    Chamber 1 [Env. 17]
Name: SEnviro, dtype: object

In [81]:
def get_experiment(data, SID):
    return data[data['SID'] == SID]

def get_input_data(data, name='BIRBeam #1'):
    on_data = data[data['DEventText'] == 'Input Transition On Event']
    on_data = on_data[on_data['DEffectText'] == name]

    off_data = data[data['DEventText'] == 'Input Transition Off Event']
    off_data = off_data[off_data['DEffectText'] == name]

    return on_data['DTime'].values

In [71]:
r = data.data['tbl_Schedule_Notes']

In [72]:
r

     SID                 NName                          NValue
0      1     Max_Number_Trials                               0
1      1     Max_Schedule_Time                            1800
2      1  Schedule_Description  Initial habituation to the box
3      1             Animal ID                              E1
4      1                  User                          Pierre
..   ...                   ...                             ...
139   15              Group ID                             NaN
140   15                 Notes                             NaN
141   16              Database                         equipsy
142   16              Group ID                             NaN
143   16                 Notes                             NaN

[144 rows x 3 columns]

In [92]:
data.get_results_per_animal()

array([9])