In [120]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [140]:
from analysis import download_database
download_database()

Connection successfully established ...
equipsy.ABETdb
File successfully downloaded ...

In [201]:
from analysis import DataBase
data = DataBase('equipsy.ABETdb')
group_experiments = data.get_group_experiments()

-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `tbl_Schedules`
 (
	`SID`			int not null auto_increment unique,
	`SName`			varchar (100),
	`SEnviro`			varchar (50),
	`SMachineName`			varchar (30),
	`SVersion`			varchar (10),
	`SRunDate`			datetime,
	`SFinal`			boolean NOT NULL,
	`ZE_GUID`			varchar (50),
	`ZS_GUID`			varchar (50),
	`SRecCount`			int
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Schedules` ADD PRIMARY KEY (`SID`);

CREATE TABLE `tbl_Schedule_Notes`
 (
	`SID`			int,
	`NName`			varchar (100),
	`NValue`			text
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Data`
 (
	`SID`			int,
	`DTime`			float,
	`DAuto`			int,
	`DEvent`			int,
	`DEventText`			varchar (100),
	`DEffectText`			varchar (100),
	`DAltText`			varchar (100),
	`DGroup`			int,
	`DArgCount`			int,
	`DText1`			varchar (100),
	`DValue1`			float,
	`DText2`			varchar (100),
	`DValue2`			float,
	`DText3`			varchar (100),
	`DValue3`			float,
	`DText4`			varchar (100),
	`DValue4`			float,
	`DText5`			varchar (100),
	`DValue5`			float
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Version`
 (
	`BuildNum`			varchar (100),
	`CompactDate`			datetime
);

-- CREATE INDEXES ...

CREATE TABLE `tbl_Zip_Schedule`
 (
	`ZS_GUID`			varchar (50),
	`ZS_Name`			varchar (100),
	`ZS_Version`			varchar (50),
	`ZS_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Schedule` ADD PRIMARY KEY (`ZS_GUID`);

CREATE TABLE `tbl_Zip_Environment`
 (
	`ZE_GUID`			varchar (50),
	`ZE_Name`			varchar (100),
	`ZE_Bytes`			blob
);

-- CREATE INDEXES ...
ALTER TABLE `tbl_Zip_Environment` ADD PRIMARY KEY (`ZE_GUID`);


-- CREATE Relationships ...
-- relationships are not implemented for mysql

No MSysRelationships

tbl_Schedules <_io.StringIO object at 0x7fd6524f3310>
tbl_Schedule_Notes <_io.StringIO object at 0x7fd652393280>
tbl_Data <_io.StringIO object at 0x7fd6525694c0>
tbl_Version <_io.StringIO object at 0x7fd6523933a0>
tbl_Zip_Schedule <_io.StringIO object at 0x7fd652393280>
tbl_Zip_Environment <_io.StringIO object at 0x7fd6523933a0>
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Habituation 1 v1
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2
A_Rat PAL Initial Touch Training v2

In [197]:
group_experiments.all_types

['Habituation', 'Initial Touch']

In [156]:
a = group_experiments.get_experiments_per_date('17/01/24')

In [159]:
a.experiments[0].data

,SID,DTime,DAuto,DEvent,DEventText,DEffectText,DAltText,DGroup,DArgCount,DText1,DValue1,DText2,DValue2,DText3,DValue3,DText4,DValue4,DText5,DValue5
115643,46,0.00,0,28,Input Definition,(SYSTEM),NaN,0,5,Auxiliary_IN #1,8.000,Auxiliary_IN #2,9.0,Auxiliary_IN #3,10,Tray #1,0,BIRBeam #1,1
115644,46,0.00,1,28,Input Definition,(SYSTEM),NaN,0,5,FIRBeam #1,2.000,RightFIRBeam #1,3.0,FeederStatus #1,4,Terminal_Block_IN #6,5,Terminal_Block_IN #7,6
115645,46,0.00,2,28,Input Definition,(SYSTEM),NaN,0,1,Terminal_Block_IN #8,7.000,NaN,0.0,NaN,0,NaN,0,NaN,0
115646,46,0.00,3,27,Output Definition,(SYSTEM),NaN,0,5,Auxiliary Enable,18.000,Auxiliary_OUT #1,10.0,Auxiliary_OUT #2,11,Auxiliary_OUT #3,12,Auxiliary_OUT #4,13
115647,46,0.00,4,27,Output Definition,(SYSTEM),NaN,0,5,Auxiliary_OUT #5,14.000,Auxiliary_OUT #6,15.0,Auxiliary_OUT #7,16,Auxiliary_OUT #8,17,HouseLight #2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120288,46,3600.01,4645,29,Timer Event,_Schedule_Timer,NaN,8,1,Value,3600.010,NaN,0.0,NaN,0,NaN,0,NaN,0
120289,46,3600.01,4646,29,Timer Event,Image_Timer,NaN,8,1,Value,0.333,NaN,0.0,NaN,0,NaN,0,NaN,0
120290,46,3600.01,4647,29,Timer Event,ITI_Timer,NaN,8,1,Value,20.341,NaN,0.0,NaN,0,NaN,0,NaN,0
120291,46,3600.01,4648,29,Timer Event,_Schedule_Timer,NaN,8,1,Value,3600.010,NaN,0.0,NaN,0,NaN,0,NaN,0
120292,46,3600.01,4649,9999,Schedule Shutdown Event,(SYSTEM),NaN,8,0,NaN,0.000,NaN,0.0,NaN,0,NaN,0,NaN,0

In [176]:
df = a.experiments[0].data
set(df.loc[(df['DEventText'] == 'Variable Event'), 'DEffectText'].values)

{'Blank_Touch_Counter',
 'Centre_Touches_during_ITI',
 'Correct_Counter',
 'Correct_Grid_Position',
 'Feeder_Pulse_Time',
 'First_Trial',
 'Houselight_Normally_On',
 'ITI',
 'Image_Time',
 'Left_Touches_during_ITI',
 'Right_touches_during_ITI',
 'Tone_Duration',
 'Tone_Intensity',
 '_Trial_Counter'}

In [184]:
for e in a.experiments:
    df = e.data
    du = df[(df['DEventText'] == 'Variable Event') & (df['DEffectText'] == 'Correct_Counter')]
    print(len(du))

1
1
3
2
1
3
3
4
5
1
1
2
3
3
1
1